@model ThinkEMR_Care.Core.Models.MasterDashboard.ICD10CodeCatalog

@using (Html.BeginForm("CreateICD10Catalog", "ICD10CodeCatalog", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add CPT Code</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Icd10CodeCatalog" class="control-label">Add Code</label>
                        <input asp-for="Icd10CodeCatalog" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}