<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThinkEMR_Care.Core.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>



    <style>
        body {
            font-family: "Lato", sans-serif;
            margin: 0;
            padding: 0;
        }

        .navbar {
            z-index: 3;
            display: flex;
            justify-content: space-between;
        }

        .sidebar a {
            padding: 6px 8px 4px 16px;
            text-decoration: none;
            display: block;
            color: dodgerblue;
            padding: 10px;
        }

        i {
            padding-right: 10px;
        }

        .sidebar a:hover {
            color: royalblue;
        }

        .main {
            margin-left: 200px;
            padding: 0px 10px;
            
        }

        .content{
            
            background: #FFFFFF;
            box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.5);
            opacity: 2;
        }

        .navbar-brand,
        #userProfileContainer {
            display: flex;
            align-items: center;
        }

        #userNameElement {
            margin-right: 10px;
            font-weight: bold;
        }

        #userProfileContainer {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        #userProfileContainer {
            margin-right: 10px;
            padding-left: 1100px;
        }

        #userProfileImage {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: 10px;
            padding: 5px;
        }


    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="position: fixed;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h2 style="color: dodgerblue;"><b>thinkEMR</b></h2>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <div id="userProfileContainer" class="ml-auto col">
                        <div>
                            <i class="fas fa-bell" style="font-size: 20px; margin-right: 5px;"></i>
                        </div>
                        <div>
                            <img id="userProfileImage" class="rounded-circle" >
                        </div>
                        <div>
                            <span id="userNameElement"></span>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-md-block bg-light sidebar" style="margin-top: 110px; background:#FFFFFF; height: auto;">
                <div>
                    <ul class="nav flex-column">
                        <li>
                            <a asp-area="" asp-controller="AdminDashboard" asp-action="Index"><i class="bi bi-house"></i> Dashboard</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="ProviderGroups" asp-action="Index"><i class="bi bi-people-fill"></i> Provider Group</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="" asp-action="Index"><i class="bi bi-collection"></i> Master</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="UserSetting" asp-action="Index"><i class="bi bi-gear-fill"></i> Settings</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="UserSetting" asp-action="AdminProfile">Profile</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="UserSetting" asp-action="Index">User Settings </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="AdminDashboard" asp-action="Logout" id="logoutButton"><i class="bi bi-box-arrow-right"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4 content" style="margin-top: 110px;" ><br />
                @RenderBody()
            </main>
        </div>
    </div>
    

@section Script{
    <script>
        document.getElementById('logoutButton').addEventListener('click', function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Want to logout ?',
                text: 'Are you shure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Log me out',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Logout", "AdminDashboard")';
                } else {
                }
            });
        });
    </script>


    @{
        var userName = ViewContext.HttpContext.Session.GetString("UserName");
        var jwtToken = ViewContext.HttpContext.Session.GetString("JWToken");
    }

    <script>
        $(document).ready(function () {
            var userName = '@userName';
            var jwtToken = '@jwtToken';
            $.ajax({
                url: 'https://localhost:7286/api/AuthenticationService/GetLoggedInUserProfile?userName=' + userName,
                method: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Bearer ' + jwtToken
                },
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    $('#userProfileImage').attr('src', 'data:image/jpeg;base64,' + data.profileImage);
                    $('#userNameElement').text(data.firstName + ' ' + data.lastName);
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        });
    </script>

}

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>