<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThinkEMR_Care.Core.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <style>
        body {
            font-family: "Lato", sans-serif;
            margin: 0;
            padding: 0;
        }

        .navbar {
            z-index: 3; 
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: -10;
            left: 0;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                display: block;
                color: dodgerblue;
                padding: 10px;
            }

        i {
            padding-right: 10px;
        }

        .sidenav a:hover {
            color: royalblue;
        }

        .main {
            margin-left: 200px;
            padding: 0px 10px;
        }

        .swal2-confirm, .swal2-cancel {
            width: 50%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:aliceblue">
        <a class="navbar-brand" href="/"><h2 style="color:dodgerblue; margin:14px"><b>thinkEMR</b></h2></a>  
    </nav>

    <div class="sidenav" style="background-color:aliceblue">
        <ul class="nav flex-column">
            <li>
                <a asp-area="" asp-controller="AdminDashboard" asp-action="Index"><i class="bi bi-house"></i> Dashboard</a>
            </li>
            <li>
                <a asp-area="" asp-controller="ProviderGroups" asp-action="Index"><i class="bi bi-people-fill"></i> Provider Group</a>
            </li>
            <li>
                <a asp-area="" asp-controller="" asp-action="Index"><i class="bi bi-collection"></i> Master</a>
            </li>
            <li>
                <a asp-area="" asp-controller="" asp-action="Index"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
            <li>
                <a asp-area="" asp-controller="AdminDashboard" asp-action="Logout" id="logoutButton">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
            </li>
        </ul>
    </div>


    <script>
        document.getElementById('logoutButton').addEventListener('click', function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Want to logout ?',
                text: 'Are you shure ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Log me out',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Logout", "AdminDashboard")';
                } else {
                    // User canceled, stay on the dashboard
                }
            });
        });
    </script>

    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
