@model ThinkEMR_Care.Core.Models.ProviderGroupProfile

@using (Html.BeginForm("Create", "ProviderGroups", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="form">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h5 class="modal-title" style="text-align: center;"><b>Add New Provider Group</b></h5>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label asp-for="ProviderGroupName">Provider Group Name</label>
                            <input asp-for="ProviderGroupName" class="form-control" />
                        </div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="ContactNumber">Contact Number</label>
                                <input asp-for="ContactNumber" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="GroupNPINumber">Group NPI Number</label>
                                <input asp-for="GroupNPINumber" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="SpecialityTypes">Speciality Type</label>
                                <input asp-for="SpecialityTypes" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Website">Website</label>
                                <input asp-for="Website" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="EmailId">Email ID</label>
                                <input asp-for="EmailId" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="FaxId">Fax ID</label>
                                <input asp-for="FaxId" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Information">Information</label>
                            <input asp-for="Information" class="form-control" />
                        </div>
                    </div>
                    <h5 class="modal-title"><b>Physical Address - </b></h5><br />
                    <div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="PhysicalAddress.Address1">Address1</label>
                                <input asp-for="PhysicalAddress.Address1" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PhysicalAddress.Address2">Address2</label>
                                <input asp-for="PhysicalAddress.Address2" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="PhysicalAddress.City">City</label>
                                <input asp-for="PhysicalAddress.City" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PhysicalAddress.State">State</label>
                                <input asp-for="PhysicalAddress.State" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PhysicalAddress.Country">Country</label>
                                <input asp-for="PhysicalAddress.Country" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PhysicalAddress.ZipCode">Zip Code</label>
                                <input asp-for="PhysicalAddress.ZipCode" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <h5 class="modal-title"><b>Billing Address - </b></h5>
                    <br />
                    <div class="form-group">
                        <label asp-for="BillingAddress.SameAsPhysicalAddress">Same As Physical Address</label>
                        <input asp-for="BillingAddress.SameAsPhysicalAddress" type="checkbox" />
                    </div>
                    <div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="BillingAddress.Address1">Address1</label>
                                <input asp-for="BillingAddress.Address1" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="BillingAddress.Address2">Address2</label>
                                <input asp-for="BillingAddress.Address2" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group">
                                <label asp-for="BillingAddress.City">City</label>
                                <input asp-for="BillingAddress.City" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="BillingAddress.State">State</label>
                                <input asp-for="BillingAddress.State" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="BillingAddress.Country">Country</label>
                                <input asp-for="BillingAddress.Country" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="BillingAddress.ZipCode">Zip Code</label>
                                <input asp-for="BillingAddress.ZipCode" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <h5 class="modal-title"><b>Practice Office Hours</b></h5>
                    <div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Monday">Monday</label>
                            <input asp-for="PracticeOfficeHours.Monday" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Tuesday">Tuesday</label>
                            <input asp-for="PracticeOfficeHours.Tuesday" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Wednesday">Wednesday</label>
                            <input asp-for="PracticeOfficeHours.Wednesday" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Thursday">Thursday</label>
                            <input asp-for="PracticeOfficeHours.Thursday" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Friday">Friday</label>
                            <input asp-for="PracticeOfficeHours.Friday" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Saturday">Saturday</label>
                            <input asp-for="PracticeOfficeHours.Saturday" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PracticeOfficeHours.Sunday">Sunday</label>
                            <input asp-for="PracticeOfficeHours.Sunday" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveRecordButton">Save</button>
                </div>
            </div>
        </div>
    </div>
}
