@model ThinkEMR_Care.Core.Models.Departments

@using (Html.BeginForm("Create", "Departments", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="form">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h5 class="modal-title" style="text-align: center;"><b>Add New Department</b></h5>
                </div>
                <div class="modal-body">
                    <div>
                        
                        <div class="d-flex">
                            <div class="form-group col-md-6">
                                <label asp-for="DepartmentId">Department Id</label>
                                <input asp-for="DepartmentId" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="DepartmentName">Department Name</label>
                                <input asp-for="DepartmentName" class="form-control" />
                            </div>
                        </div>
                        
                        <div class="d-flex">
                            <div class="form-group col-md-6">
                                <label asp-for="DepartmentAdmin">Department Admin</label>
                                <select id="DepartmentAdmin" asp-for="DepartmentAdmin" class="form-control">
                                    <option value="Gertude Bostic   ">Gertude Bostic</option>
                                    <option value="Genna Littlefield">Genna Littlefield</option>
                                    <option value="Eldora Clough">Eldora Clough</option>
                                    <option value="Francesco Sell">Francesco Sell</option>
                                    <option value="Nannie Rutherford">Nannie Rutherford</option>
                                </select>
                            </div> 
                            <div class="form-group col-md-6">
                                <label asp-for="ContactNumber">Contact Number</label>
                                <input asp-for="ContactNumber" class="form-control" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="saveRecordButton">Save</button>
                </div>
            </div>
        </div>
    </div>

}