@model ThinkEMR_Care.Core.Models.ResetPasswordData
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            height: 100vh;
            margin: 0;
            padding: 0;
            grid-template-columns: 1fr 1fr; /* Two equal columns */
        }

        .left-side {
            flex: 1;
            padding: 20px;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .right-side {
            flex: 1;
        }
    </style>
</head>

<body>
    <div class="row d-flex">
        <div class="left-side">
            <h1 style="color:dodgerblue">ThinkEMR</h1>
            <div>
                <div class="container">
                    <!-- Content for the left part -->
                    <form asp-controller="Account" asp-action="ResetPassword" method="post">
                        <div class="form-group">
                            <label class="control-label" style="color:dodgerblue ; font:bold">Reset Password</label><br />
                            <input asp-for="Password" type="password" class="form-control" style="width: 400px;" autocomplete="off" placeholder="Enter new password" required>
                            <span class="text-danger">@TempData["errormessage"]</span>
                        </div><br />
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" style="width: 400px;" autocomplete="off" placeholder="Conform new password" required>
                            <span class="text-danger">@TempData["errormessage"]</span>
                        </div>
                        <div style="text-align: center;">
                            <div class="form-group"><br />
                                <button type="submit" class="btn btn-primary btn-block" style="width: 400px;" onclick="window.location.href='/Account/Login'">Update password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="right-side">
            <div>
                <img src="~/ForgotPass.jpg">
            </div>
        </div>
    </div>
</body>
</html>

